<form id="signup-user">
    <div>
        <input placeholder="Username" />
    </div>

    <div>
        <input placeholder="Password" />
    </div>

    <div>
        <input placeholder="Confirm Password" />
    </div>

    <div>
        <button>Signup</button>
        <button>Close</button>
    </div>
</form>

{{yield}}
